:root {
	--color1: #1d1426;
	--color2: #ebedf2;
	--color3: #d9d2bf;
	--color4: #a68572;
	--color5: #8c6258;
}

* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

html, body {
	margin: 0;
	background-color: var(--color2);
}

img {
}



/* Header */
.header {
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: var(--color1);
	color : var(--color2);
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}

.header > .brand {
	width: 20%;
	text-align: center;
	
	font-size: 1.5rem;
	font-weight: 700;
}

.navBar {
	width: 35%;
	display: flex;
	justify-content: space-around;
	
	font-size: 1.1rem;
	font-weight: 500;
}


/* Section */
.contents section {
	width: 100%;
	height: calc(100vh - 70px);
	display: flex;
	margin-top: 70px;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.contents .home {
	justify-content: center;
	align-items: center;
}

.contents .about {
	height: 60vh;
	padding: 70px;
}

.contents .about, .contents .about * {
	background-color: var(--color3);
}


/* SubHead */
section .subHead {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color2);
}

section .subHead .subHeadTitle {
	font-size: 4rem;
	font-weight: 700;
	color: var(--color5);
}

section .subHead .underBar {
	width: 70%;
	height: 3px;
	margin: 16px 0;
	background-color: var(--color5);
}

.about .subHead {
	margin-left: 10%;
}


/* Home */
.home .monitorImg {
	padding-left: 15%;
	width: auto;
	height: 100%;
	align-self: flex-start;
	
	opacity: 0;
	transform:  scalex(0);/* translateX(30px); */
	transform-origin: right;
	transition-duration: 0.75s;
	animation: ease;
}

.home .homeImg {
	position: absolute;
	width: 100%;
	height: calc(100vh - 70px);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.homeTextImg {
	position: absolute;
	width: 100%;
	height: calc(100vh - 70px);
	
	opacity: 1;
	transform: scale3d(0, 0, 0);
	transform-origin: top right;
	transition-duration: 0.75s;
	transition-delay: 0.75s;
	animation: ease;
}

.homeText {
	right: 0;
	height: calc(100vh - 70px);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 0 100px 0 0;
	color: var(--color3);
}

.home .loaded {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

.homeText > .brandText {
	font-size: 7rem;
	font-weight: 900;
	margin-bottom: 12rem;
}

.homeText > .descText {
	font-size: 3rem;
	font-weight: 700;
	transform: rotatez(8deg);
}

.downArrow {
	width: 100%;
	position: absolute;
	bottom: 50px;
	text-align: center;
	color: var(--color4);
	
	opacity: 0;
	transition-duration: 1s;
	transition-delay: 2.5s;
}

@keyframes downArrow {
  0% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.arrowAnim {
	animation: downArrow 0.75s infinite;
	animation-direction: alternate;
}

.downArrow img {
	width: 3%;
}


/* News */
.newsImg {
	width: 100%;
}


/* Process */
.processContent {
	display: flex;
	justify-content: center;
}

.processContent .processSteps {
	display: flex;
	width: 80%;
	align-content: center;
}

.processContent .step {
	opacity: 0;
	transform: translatey(-20px);
	transition-duration: 1s;
}

.processContent .stepImg {
	max-width: 100%;
	object-fit: cover;
}

.processContent .first {
}

.processContent .second {
	transition-delay: 0.5s;
}

.processContent .third {
	transition-delay: 1s;
}

.processContent .loaded {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}


/* About */
.aboutContent {
	padding: 20px;
	
	width: 80%;
	height: 50%;
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--color5);
}

@media (max-width: 320px) {
	
}

@media (max-width: 568px) {
	
}

@media (max-width: 768px) {
	
}

@media (max-width: 1624px) {
	
}

/* 
1624
768
568
320
*/